<div>
  <h1>Login</h1>
  <form [formGroup]="loginForm" (submit)="onSubmit()">
    <div>
      <label for="username">Username</label>
      <input formControlName="username" />
      <div *ngIf="!this.isValidForm('username') && this.submitted">
        Please provide an username.
      </div>
    </div>
    <div>
      <label for="email">Email</label>
      <input formControlName="email" />
      <div *ngIf="!this.isValidForm('email') && this.submitted">
        Please provide an email.
      </div>
    </div>
    <div>
      <label for="password">Password</label>
      <input formControlName="password" />
      <div *ngIf="!this.isValidForm('password') && this.submitted">
        Please provide a password.
      </div>
    </div>
    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input formControlName="confirmPassword" />
      <div *ngIf="!this.isValidForm('confirmPassword') && this.submitted">
        Please confirm your password.
      </div>
    </div>
    <button>Login</button>
  </form>
</div>
